In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
import numpy as np
from joblib import dump

In [2]:
df3 = pd.read_csv('Data_for_Model_Building.csv')

In [3]:
columns_to_drop = ['Rent(Rs)', 'Deposit(Rs)']
X = df3.drop(columns=columns_to_drop)
y = df3['Rent(Rs)']

In [4]:
X = X.rename(columns={'UnFurnished':'Unfurnished'})

In [5]:
X.head(5)

,BHK,Size(sq.ft),Adugodi,Akshayanagar,Anchepalya,Arakere,Arekere,Attiguppe,Balagere,Banashankari,...,Vimanapura,Whitefield,Wilson Garden,Yelahanka,Yelahanka New Town,Yemalur,Yeshwanthpur,Full Furnished,Semi Furnished,Unfurnished
0,2,1210,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,3,1620,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,2,1060,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,2,1300,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,2,1275,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False

In [6]:
y.head(5)

0    21000
1    20000
2    25000
3    24000
4    19000
Name: Rent(Rs), dtype: int64

In [13]:
column_names = X.columns.tolist()
with open('columns.json', 'w') as json_file:
    json_file.write(pd.Series(column_names).to_json(orient='values'))

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
model = XGBRegressor(learning_rate =0.01, n_estimators=5000, min_child_weight=8, subsample=0.6, colsample_bytree=0.6, seed=28).fit(X_train,y_train)
score = model.score(X_test, y_test)
print(score)

0.7746049115742124

In [10]:
def predict_price(location,sqft,bhk,furnishing):    
    loc_location = np.where(X.columns==location)[0][0]
    loc_furnishing = np.where(X.columns==furnishing)[0][0]
    x = np.zeros(len(X.columns))
    x[0] = bhk
    x[1] = sqft
  
    if loc_location >= 0:
        x[loc_location] = 1
    if loc_furnishing >= 0:
        x[loc_furnishing] = 1
    return model.predict([x])[0]
predict_price("Yelahanka", 1100, 2, "Unfurnished")

12141.927

In [11]:
dump(model, "Rent_joblib")

['Rent_joblib']